body {
    font-family: "Inter", sans-serif;
    color: #000;
    font-weight: 500;
    line-height: 1.2;
    font-size: 16px;
}
.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}
.header {
    height: 100vh;
    background: linear-gradient(180deg, #cadbeb 0%, rgba(235, 235, 235, 0) 100%);
    .header__top {
        padding: 40px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .menu {
        .menu__list {
            display: flex;
            align-items: center;
            gap: 0 40px;
            font-weight: 700;

            .menu__item {
            }
        }
        .menu__btn {
            padding: 15px 58px;
            border-radius: 30px;
            background-color: #000;
            color: #fff;
        }
    }
}
