body {
    font-family: "Inter", sans-serif;
    color: #000;
    font-weight: 500;
    line-height: 1.2;
    font-size: 16px;
}
.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}
.header {
    min-height: 100vh;
    position: relative;

    .header__top {
        padding: 40px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .menu {
        .menu__list {
            display: flex;
            align-items: center;
            gap: 0 40px;
            font-weight: 700;

            .menu__item {
            }
        }
        .menu__btn {
            padding: 15px 58px;
            border-radius: 30px;
            background-color: #000;
            color: #fff;
            text-transform: uppercase;
        }
    }
    .header__content {
        .title {
            max-width: 1200px;

            letter-spacing: 7px;
            font-size: 210px;
            font-weight: 700;
            position: absolute;
            padding-top: 105px;
            .title--air {
            }
            .title--pod {
                position: relative;
                z-index: -1;
            }
            .title--s {
                display: inline-block;
                transform: translate(15px, 63px);
            }
            .title--m {
                display: inline-block;
                transform: translate(-60px, 293px);
            }
            .title--ax {
                display: inline-block;
                position: relative;
                transform: translate(895px, 175px);
                z-index: -1;
            }
        }
        .header__content-images {
            display: flex;
            justify-content: center;
            padding-bottom: 50px;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                left: 0;
                bottom: 0;
                width: 100%;
                background: linear-gradient(180deg, #cadbeb 0%, rgba(235, 235, 235, 0) 100%);
                z-index: -2;
            }
        }
    }
}

.choose-color {
    padding: 45px 0 180px;
    text-align: center;

    .choose-color__title {
        font-weight: 700;
        font-size: 36px;
        margin: 0 auto 20px;
    }
    .choose-color__text {
        max-width: 555px;
        margin: 0 auto 80px;
    }
    .choose-color__list {
        display: flex;
        justify-content: center;
        gap: 40px;
        flex-wrap: wrap;
    }

    .choose__color-btn {
        border: 1px solid grey;
        border-radius: 20px;
        padding: 50px 55px;
    }
}

.composition {
    margin-bottom: 180px;
    .composition__title {
        font-weight: 700;
        margin-bottom: 20px;
        font-size: 64px;
        text-align: center;
    }

    .composition__text {
        text-align: center;
        max-width: 653px;
        margin: 0 auto 40px;
    }
    .composition__inner {
        display: flex;
        max-width: 625px;
        margin: 0 auto;
        justify-content: space-between;
        .composition__inner-text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 15px;
            p {
                width: 230px;
            }
        }
    }
}
.case {
    padding: 80px 0 100px;
    background: #fafafa;
    text-align: center;

    .case__title {
        font-weight: 700;
        margin-bottom: 20px;
        font-size: 64px;

        letter-spacing: 2px;
    }
    .case__text {
        max-width: 825px;
        margin: 0 auto 40px;
    }

    img {
        margin: 0 auto;
    }

    .energy__title {
        font-weight: 700;
        margin: 160px auto 40px;
        font-size: 64px;
        letter-spacing: 2px;
    }
    .energy__num {
        font-weight: 700;
        font-size: 210px;
        margin-bottom: 40px;
    }
    .energy__text {
        max-width: 403px;
        margin: 0 auto;
    }
}

.audio {
    background-image: url(../assets/images/audio-full-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;

    // &::before {
    //     content: "";
    //     position: absolute;
    //     background-image: url(../assets/images/audio-bg.jpg);
    //     background-repeat: no-repeat;
    //     background-size: cover;
    //     background-position: top center;
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     bottom: 0;
    //     width: 100%;
    //     height: 100%;
    //     z-index: -2;
    // }

    // &::after {
    //     content: "";
    //     position: absolute;
    //     background-image: url(../assets/images/sound.png);
    //     background-position: bottom center;
    //     background-size: cover;
    //     bottom: -250px;
    //     width: 100%;
    //     left: 0;
    //     right: 0;
    //     height: 150vh;
    //     background-repeat: no-repeat;
    //     z-index: -1;
    // }
    .audio__inner {
        min-height: 220vh;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        .audio__box {
            color: #fff;
            text-align: center;
            padding-bottom: 50vh;
        }
        .audio__text {
            width: 300px;
            margin-bottom: 20px;
        }
        .btn {
            margin-top: 20px;
            text-transform: uppercase;
            font-weight: 700;
            background-color: #fff;
            border-radius: 30px;
            padding: 15px 58px;
        }
    }
}
.footer {
    text-align: center;
    font-weight: 700;
    padding: 50px 0 40px;
    background-color: #000;
    color: #fff;

    .footer__text {
        margin: 20px 0;
    }
    .footer__logo {
        width: 30px;
        margin: 0 auto 80px;
    }
    .footer__list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}

@media (max-width: 1238px) {
    .header {
        .header__content {
            .title {
                position: relative;
                padding-top: 20px;
                width: 100%;
                text-align: center;
                font-size: 110px;
                .title--air {
                }
                .title--pod {
                    position: relative;
                    z-index: -1;
                }
                .title--s {
                    display: inline-block;
                    transform: none;
                }
                .title--m {
                    display: inline-block;
                    transform: none;
                    margin-left: 20px;
                }
                .title--ax {
                    transform: none;
                    z-index: 0;
                }
            }
        }
        .choose-color__list {
            flex-wrap: wrap;
        }
    }
}
@media (max-width: 880px) {
    .header {
        .header__content {
            .title {
                font-size: 70px;
            }
        }
    }
}
@media (max-width: 768px) {
    .choose-color {
        padding-bottom: 60px;
        .choose-color__list {
            gap: 16px;
        }
    }

    .composition {
        margin-bottom: 60px;

        .composition__title {
            font-size: 36px;
        }
    }

    .case {
        padding: 60px 0;

        .case__title {
            font-size: 42px;
            letter-spacing: 0;
        }

        .energy__title {
            font-size: 42px;
            letter-spacing: 0;
            margin-top: 60px;
            margin-bottom: 20px;
        }
        .energy__num {
            font-size: 120px;
            margin-bottom: 20px;
        }
    }
    .footer {
        .footer__logo {
            margin-bottom: 45px;
        }
        .footer__list {
            flex-wrap: wrap;
        }
    }
}
@media (max-width: 560px) {
    .header {
        .header__content {
            .title {
                font-size: 36px;
            }
        }
        .menu {
            .menu__list {
                gap: 0 14px;
            }
            .menu__btn {
                padding: 8px 28px;
            }
        }
    }

    .choose-color {
        padding-top: 0;
        padding-bottom: 45px;

        .choose-color__text {
            margin-bottom: 40px;
        }
    }
    .composition {
        .composition__inner {
            flex-direction: column;
            align-items: center;
            .composition__inner-text {
                width: 100%;
                margin-bottom: 40px;
                p {
                    width: 100%;
                }
            }
        }
    }
    .case {
        .case__title {
            font-size: 36px;
            letter-spacing: 0;
        }
    }
}
